<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Super blog!</title>
</head>
<body>
<h1>Super blog!</h1>
<p th:if="${msg != null}" th:text="${msg}"></p>
</body>
</html>